.view-scrum-master-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    > * {
        margin: .5rem;
    }
    .table {
        // flex: 1 1 auto;
        flex: 2;
        border:solid 2px black;
        height: 100%;
        .ant-table-tbody {
            tr {
                .ant-table-cell {
                    &:nth-child(2), &:nth-child(3) {
                        border-left: solid 2px black;
                    }
                }
            }
        }
        .ant-table-thead {
            tr {
                .ant-table-cell {
                    &:nth-child(2), &:nth-child(3) {
                        border-left: solid 2px black;
                    }                
                    border-bottom: solid 2px black;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }
        .story-cell {
            cursor: pointer;
        }
    }
    .active-story-component {
        flex: 1;
    }
    .scrum-master-panel {
        flex: 1;
        border: solid 2px black;
        padding: 1rem;
        max-width: 400px;
        .title {
            text-align: center;
            margin-bottom: 1rem;
            font-weight: bold;
        }
        .story-name {
            font-weight: 600;
        }
        .voters-list {
            margin-bottom: 10px;
            .name {
                margin-right: 10px;
            }
        }
        .end-voting-area {
            margin-top: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .final-score-input {
                width: 120px;
                margin-bottom: 10px;
            }
        }
        
    }
}

@media screen and (max-width: '414px') {
    .view-scrum-master-component {
        flex-direction: column;
        .active-story-component {
            align-self: center;
        }
    }
}