.active-story-component {
  border: solid 2px black;
  border-radius: 3px;
  padding-top: 1rem;
  max-width: 300px;
  .title {
    text-align: center;
    font-weight: bold;
  }
  .story-name {
    margin-left: 1rem;
    font-weight: 600;
  }
  .points-area {
    display: flex;
    flex-wrap: wrap;
    .point {
      border: 2px solid black;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      border-radius: 3px;
      margin: 1rem;
      cursor: pointer;
      transition: background 0.1s ease-in;
      -webkit-transition: background 0.1s ease-in;
      -moz-transition: background 0.1s ease-in;
      -o-transition: background 0.1s ease-in;
      &:active {
        background: #2f962f;
        color: white;
      }
    }
    .active-point {
      background: #2f962f;
      color: white;
    }
  }
  
}
